@tailwind base;
@tailwind components;
@tailwind utilities;




/* -- Nested List  -- */

/* Set the first layer of list items to regular numeric decimals */
.prose ol {
   list-style-type: decimal;
}

/* Set the second layer of list items to lowercase alphabetic */
.prose ol > li > ol {
   list-style-type: lower-alpha;
}

/* Set the third layer of list items to uppercase Roman numerals */
.prose ol > li > ol > li > ol {
   list-style-type: upper-roman;
}