@tailwind base;
@tailwind components;
@tailwind utilities;



#simple-editor > div{
   width: 100%;
   min-height: 80vh;
   outline: none;
}

/* -- Nested List  -- */

/* Set the first layer of list items to regular numeric decimals */
.prose ol {
   list-style-type: decimal;
}

/* Set the second layer of list items to lowercase alphabetic */
.prose ol > li > ol {
   list-style-type: lower-alpha;
}

/* Set the third layer of list items to uppercase Roman numerals */
.prose ol > li > ol > li > ol {
   list-style-type: upper-roman;
}

/* -- Nested List  -- */
/*************************************/
.titlebar {
   padding: .7rem 1rem;
   background: var(--hope-colors-primaryC);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  width: 17px;
  height: 17px;
}
/*************************************/
